BIN
Documents
dot_files
Downloads
DOC
Dropbox
gtk-3.0
ISO
IDEAS
Music
Pictures
public_html
Reference
retrocadet
rubymidwest
share
Sounds
Themes
Videos
workspace
www

*.xml
*.html
*.gif
*.png
*.jpg
*.jpeg
*.sql
*.zip
*.swp

.*authority
.adobe
.bash_history
.bash_logout
.cache
.config
.conkyrc*
.dbus
.dia
.dmrc
.dropbox
.esd_auth
.filezilla
.fltk
.fontconfig
.galculator
.gconfd
.gem
.gimp-2.6
.gksu.lock
.gmrun_history
.gnome2
.gnupg
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-2.0
.hardinfo
.hplip
.httpd_cert
.icons
.irb-history
.irssi
.kde4
.lesshst
.macromedia
.minecraft
.mozilla
.mplayer
.mysql_history
.pki
.pulse-cookie
.pulse
.purple
.putty
.root_bashrc
.rvm
.screenlayout
.ssh*
.teeworlds*
.themes*
.thunderbird*
.tilda*
.viminfo
.xsession

LIB/images
