BIN
Desktop
Documents
dot_files
Downloads
Dropbox
gtk-3.0
ISO
IDEAS
Music
Pictures
public_html
Reference
share
Sounds
Themes
Videos
workspace
www

*.csv
*.doc
*.gif
*.html
*.jpeg
*.jpg
*.log
*.png
*.properties
*.pub
*.rb
*.sql
*.swp
*.tar*
*.txt
*.xls
*.xml
*.yml
*.zip

*key*
*pass*


.*authority
.adobe
.bash_history
.bash_logout
.bashrc_*
.cache
.config
.conkyrc*
.cups
.dbus
.dia
.dmrc
.dropbox
.esd_auth
.filezilla
.fltk
.fontconfig
.galculator
.gconfd
.gem
.gimp-2.6
.gitconfig
.gitk
.gksu.lock
.gmrun_history
.gnome
.gnome2
.gnupg
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-2.0
.hardinfo
.hplip
.httpd_cert
.icons
.irb-history
.irssi
.java
.kde4
.lesshst
.macromedia
.minecraft
.mozilla
.mplayer
.mysql_history
.PlayOnLinux
.pki
.pry_history
.pulse-cookie
.pulse
.purple
.putty
.root_bashrc
.rvm
.screenlayout
.ssh*
.teamviewer
.teeworlds*
.themes*
.thunderbird*
.tilda*
.videogen
.viminfo
.wireshark
.xaralx
.xsession

LIB/images
