<cfscript>
	${1}
	
	// This ensures that the logic for the tag is only run ONCE.
	if (ThisTag.hasEndTag) {
		if (ThisTag.ExecutionMode EQ "start") {
		} else {
			engage();
		}
	} else {
		engage();
	}
</cfscript>

<cffunction name="engage"
	access="public" returntype="any" output="Yes"
	description="I execute the logic for this tag."
	hint="Make it so, number one!"
>
	
</cffunction>
<!---end:engage()--->
