## FIXME!!!
#[user]
#	name =
#	email =

[core]
  editor = vim

[merge]
  tool = meld

[alias]
  pu = pull
  co = checkout
  br = branch
  st = status
  dif = diff

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = blue bold
  remote = green bold
[color "diff"]
  meta = yellow
  old = red
  new = cyan
  frag = black white
  plain = normal
[color "status"]
  added = green
  unchanged = yellow bold
  untracked = cyan

[format]
  pretty = oneline

[pretty]
  simple=format:"%C(red bold)[%h] %C(white)%an %C(blue)<%ae>%C(yellow)%d%Creset%n   Authored: %ad%n  Committed: %cd%n    Subject: %s%n"

#[credential]
#  helper = osxkeychain

[push]
  default = simple
